body {
    font-family: 'Times New Roman', serif;
    color: #011638;
    background-color: rgb(90, 89, 89); /* Color de fondo del body modificado */
    background-image: url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
    font-size: 20px;
}

/* Estilos del formulario de registro */
.controles-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.controles-form h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.controles-form input[type="text"],
.controles-form input[type="date"],
.controles-form input[type="submit"],
.controles-form input[type="reset"],
.controles-form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.controles-form input[type="submit"],
.controles-form input[type="reset"] {
    background-color: #000000;
    color: aqua;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

.controles-form input[type="submit"]:hover,
.controles-form input[type="reset"]:hover {
    background-color: white;
    color: #9bbedd;
}

/* Estilos de la tabla de controles */
.controles-table {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
}

.controles-table h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.controles-table table {
    width: 100%;
    border-collapse: collapse;
}

.controles-table table th,
.controles-table table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.controles-table table th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: left;
}

.controles-table--edit,
.controles-table--delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.controles-table--edit:hover,
.controles-table--delete:hover {
    background-color: #000000;
    color: white;
}

.generate-pdf-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00fff2;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', serif;
    font-size: 17px;
}


.generate-pdf-btn:hover {
    background-color: #dadada;
}

img{
    width: 20px;
    height: 20px;
}