        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to bottom, #f8f9fa, #ced4da); /* Gradient background */
            color: #011638;
            font-size: 20px;
        }

        nav {
            background-color: #6A8EAE; /* Dark background */
            padding: 10px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
            font-size: 20px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 20px;
        }

        nav li {
            display: inline;
            margin-right: 20px;
            font-size: 20px;
        }

        nav a {
            text-decoration: none;
            color: aqua;
            font-weight: bold;
            transition: color 0.3s;
            font-size: 20px;
        }

        nav a:hover {
            color: white;
            font-size: 20px;
        }

        main {
            padding: 280px 50px;
            text-align: center;
            font-size: 20px;
        }

        main {
            background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/212b34104893379.5f6cc87656bf0.gif');
            font-size: 20px;
            color: #CDCDCD;
        }

        ul {
            list-style: none;
            margin-top: 15px;
            font-size: 20px;
        }

        header {
            background-color: black; /* Blue header */
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 20px;
        }

        .logo img {
            max-width: 100px;
            font-size: 20px;
        }

        section {
            margin-bottom: 40px;
            font-size: 20px;
        }

        .cta {
            background-color: black; /* Red call-to-action */
            color: aqua;
            padding: 18px; /* Increase padding for a larger button */
            border-radius: 8px; /* Make the button slightly rounded */
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s;
            font-size: 20px; /* Increase font size for emphasis */
        }

        .cta:hover {
            background-color: white;
            font-size: 20px;
        }

        footer {
            background-color: black; /* Dark footer */
            color: white;
            text-align: center;
            padding: 35px;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow at the top */
            position: relative;
            top: 0px; /* Increase the top value for more space */
            border-top: 0px solid #DFF8EB; /* Add a border at the top for separation */
            font-size: 20px;
        }

        .footer-links {
            margin-top: 20px;
            font-size: 20px;
        }

        .footer-links a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-size: 20px; /* Adjust font size for better readability */
            transition: color 0.3s;
            font-size: 20px;
        }

        .footer-links a:hover {
            color: #007bff;
            font-size: 20px;
        }

        .login-link {
            position: absolute;
            top: 50px;
            right: 70px;
            text-decoration: none;
            color: aqua;
            font-weight: bold;
            border: 2px solid black;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            font-size: 20px;
            font-family: Times New Roman;
        }

        .login-link:hover {
            background-color: white;
            color: aqua;
            font-size: 20px;
        }

        .registro-link {
            position: absolute;
            top: 100px;
            right: 180px;
            text-decoration: none;
            color: aqua;
            font-weight: bold;
            border: 2px solid black;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            font-size: 20px;
        }

        .registro-link:hover {
            background-color: white;
            color: aqua;
            font-size: 20px;
        }
