body {
    font-family: 'Times New Roman', serif;
    color: #011638;
    background-color: rgb(90, 89, 89); /* Color de fondo del body modificado */
    background-image: url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
    font-size: 20px;
}

header nav {
    background-color: #9bbedd;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
}

nav a:hover {
    color: white;
    font-size: 20px;
}


header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.logo img {
    max-width: 100px;
    font-size: 20px;
}

section {
    margin-bottom: 40px;
    font-size: 20px;
}

.cta {
    background-color: black;
    color: aqua;
    padding: 18px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    font-size: 20px;
}

.cta:hover {
    background-color: white;
    font-size: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 35px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0px;
    border-top: 0px solid #DFF8EB;
    font-size: 20px;
}

.footer-links {
    margin-top: 20px;
    font-size: 20px;
}

.footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #03f3f3;
    font-size: 20px;
}

.login-link {
    position: absolute;
    top: 50px;
    right: 180px;
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

.login-link:hover {
    background-color: white;
    color: aqua;
}

.registro-link {
    position: absolute;
    top: 100px;
    right: 180px;
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

.registro-link:hover {
    background-color: white;
    color: aqua;
}

.users-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 100px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.users-form h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.users-form input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10004px;
    font-size: 20px;
}

.users-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('arrow.png') no-repeat right center;
    background-size: 20px;
    font-family: 'Times New Roman', serif; /* Cambiado la fuente */
    font-size: 20px; /* Cambiado el tamaño */
}

.users-form input[type="submit"],
.users-form input[type="reset"] {
    background-color: rgb(0, 0, 0);
    color: aqua;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

.users-table {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
}

.users-table h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.users-table table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.users-table th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: left;
}

.users-table--edit,
.users-table--delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00fff2;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.users-table--delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00fff2;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 40px;
}

.users-table--edit:hover,
.users-table--delete:hover {
    background-color: #dadada;
}

.users-form select {
    margin: 10px 19px;
    padding: 10px;
    border: 1px solid black; /* Añade un borde negro */
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.users-form h3 {
    text-align: center;
}

.users-form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10004px;
    font-size: 20px;
    border: 2px solid black;
}

img{
    width: 20px;
    height: 20px;
}