body {
    font-family: 'Times New Roman', serif;
    color: #011638;
    background-color: rgb(90, 89, 89); /* Color de fondo del body modificado */
    background-image: url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
    font-size: 20px;
}

/* Estilos del formulario de registro */
.calificaciones-form {
    margin: 120px auto; /* Centrar en el eje horizontal y aplicar un margen en la parte superior e inferior */
    background-color: rgb(238, 238, 238); /* Color de fondo de la tabla (cambiado a blanco) */
    padding: 50px; /* Espaciado interno para un mejor aspecto visual */
    border-radius: 10px;
    width: 90%;
}

.calificaciones-form h2 {
    color: #000000;
}

.calificaciones-form input[type="text"],
.calificaciones-form input[type="date"],
.calificaciones-form input[type="submit"],
.calificaciones-form input[type="reset"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.calificaciones-form input[type="submit"],
.calificaciones-form input[type="reset"] {
    background-color: aqua;
    color: rgb(0, 0, 0); /* Color del texto modificado */
    cursor: pointer;
}

.calificaciones-form input[type="submit"]:hover,
.calificaciones-form input[type="reset"]:hover {
    background-color: #29fff8;
    color: rgb(0, 0, 0); /* Color del texto modificado */
}

/* Estilos de la tabla de calificaciones */
.calificaciones-table {
    margin: 10px auto; /* Centrar en el eje horizontal y aplicar un margen en la parte superior e inferior */
    color: rgb(0, 0, 0); /* Color del texto de la tabla */
    background-color: rgb(238, 238, 238); /* Color de fondo de la tabla (cambiado a blanco) */
    padding: 20px; /* Espaciado interno para un mejor aspecto visual */
    border-radius: 10px;
    width: 90%;
}

.calificaciones-table h2 {
    color: #000000;
}

.calificaciones-table table {
    width: 100%;
    border-collapse: collapse;
}

.calificaciones-table table th,
.calificaciones-table table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.calificaciones-table table th {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.calificaciones-table table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.calificaciones-table table tr:hover {
    background-color: #ddd;
}

.calificaciones-table a {
    text-decoration: none;
    color: #9bbedd;
}

.calificaciones-table a:hover {
    text-decoration: underline;
    color: #7da6c2;
}

.calificaciones-table .users-table--edit,
.calificaciones-table .users-table--delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: aqua; /* Color de fondo modificado */
    color: black; /* Color del texto modificado */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.calificaciones-table .users-table--edit:hover,
.calificaciones-table .users-table--delete:hover {
    background-color: #7da6c2;
    color: white; /* Color del texto modificado */
}

img{
    width: 20px;
    height: 20px;
}